<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Weather App</title>
</head>

<body>
    <%- include("partials/nav.ejs") %>
    <div id="title" class="text-center">
        <img id="sunImg" src="\img\11e8f6a44faaed242dacf6e6ad53d057.gif">
        <h1 class="titleText bg-primary text-white text-center">Weather App</h1>
        <h4 class="titleText bg-secondary text-white text-center">Check the Weather in any City!</h4>
    </div>

    <div id="searchBox" class="search input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Enter Zip Code</span>
        <input id="cityInput" type="number" min="0" max="99999" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        <button id="searchBtn" class= "btn bg-secondary text-white">Search</button>
    </div>
    <script src="\js\script.js"></script>
</body>

</html>