<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Zip Invalid</title>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <div id="invalidDiv">
        <h1 class="text-center text-white"><span class="text-danger">ERROR</span>: Invalid Zip :(</h1>
        <p class="fs-2 text-center text-white">Please return home and try again</p>
    </div>
    <br>
    <a id="errorHomeLink" href="/"><button class="btn bg-primary text-white" id="errorHomeBtn">Home</button></a>
    <%- include("partials/footer.ejs") %>
</body>
</html>