<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Zip Invalid</title>
</head>
<body>
    <div id="invalidDiv">
        <img id="sad" src="\img\smiley-sad-face-png-26.png">
        <h1 class="bg-primary text-white">The zip you entered is invalid</h1>
    </div>>
</body>
</html>