<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Weather</title>
</head>
<body>
    <div id="cityInfo">
        <h1 id="cityName" class="bg-primary text-white"><%= city.city%></h1>
        <h5 id="coords"><%=city.latitude%>, <%=city.longitude%></h5>
    </div>
</body>
</html>