:root {
    --bs-primary-rgb: 0, 119, 182;
    --bs-secondary-rgb: 3, 4, 94;
}

body {
    background-color: skyblue;
}

#sunImg {
    margin-top: 50px;
    width: 300px;
}

.titleText {
    margin: 0 auto;
    width:max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px black;
}

.bigCard {
    margin:0 auto;
    margin-top: 50px;
    width:60%;
    background-color: #74bad6;
    border: solid 2px black;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

#cityInfo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.myRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.search {
    margin: 0 auto;
    width: 60%;
}

#searchBox {
    align-items: center;
}

#searchBtn {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

#invalidDiv {
    margin:0 auto;
    align-items: center;
}

#sad {
    width: 200px;
    margin: 0 auto;
}

#errorHomeLink {
    display: block;
    width: max-content;
    margin: 0 auto;
}

#errorHomeBtn {
    width: 90px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

hr {
    border: solid 2px white;
}

.smallCardImg {
    width: 120px;
}

.smallCard {
    margin:0 auto;
    width:fit-content;
    background-color: #afe8ff;
    border: solid 2px black;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}